.application {
	min-height: 100vh;
	margin: 0;
	padding: 0;
	background-color: #6facde;
	background: repeating-linear-gradient(
		-55deg, 
	rgba(111, 175, 222, 1), 
	rgba(111, 175, 222, 1) 10px, 
	rgba(111, 175, 222, 0.9) 10px,
	rgba(111, 175, 222, 0.9) 20px);
}

.application__content {
	display: flex;
	justify-content: space-between;
	max-width: 1200px;
	padding: 10px;
	margin: 0 auto;
	font-size: 18px;
}

.circle {
	display: flex;
    justify-content: center;
	width: 200px;
    height: 200px;
    border: 3px solid white;
    border-radius: 100%;
    margin: 40px auto 0;
    outline: 0;
}

.circle:hover {
	background-color: #F34A53;
	color: white;
	border: none;
}
